version: '3.7'

services:
  product-service:
    build:
        context: ./product-service
        dockerfile: Dockerfile
    image: product-service-app:0.2
    ports:
      - 8091:8091
    depends_on:
      - discovery-server
  customer-service:
    build:
      context: ./customer-service
      dockerfile: Dockerfile
    image: customer-service-app:0.1
    ports:
      - 8092:8092
    depends_on:
      - discovery-server
  shopping-service:
      build:
        context: ./shopping-service
        dockerfile: Dockerfile
      image: shopping-service-app:0.1
      ports:
        - 8093:8093
      depends_on:
        - discovery-server
  discovery-server:
    build:
      context: ./discovery-server
      dockerfile: Dockerfile
    image: discovery-server-app:0.1
    ports:
      - 8761:8761
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    image: api-gateway-app:0.1
    ports:
      - 8080:8080
    depends_on:
      - discovery-server